{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}
    {% if current_user.is_authenticated %}
        {% include "includes/navbar-login.html" %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="px-5">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <table class="table table-sm align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Mail</th>
                    <th>Edycja</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.userMail }}</td>
                        <td class="text-end">
                            <a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editUserPass{{ user.id }}">
                                <i class="bi bi-key"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editUser{{ user.id }}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteUser{{ user.id }}">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row float-end">
            <a href="#" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addUser">Dodaj użytkownika</a>
        </div>
    </div>

    <!-- addUserModal -->
    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="addUserModal">
                        <i class="bi bi-person-add pe-2 fs-5"></i>Dodaj nowego użytkownika
                    </p>
                </div>
                <form action="{{ url_for('addUser') }}" method="post">
                    {{ addUser.hidden_tag() }}
                    <div class="modal-body">
                        <div class="d-grid py-3">
                            <div class="input-group flex-nowrap py-1">
                                <span class="input-group-text"><i class="bi bi-person text-secondary"></i></span>
                                {{ addUser.firstName(class="form-control") }}
                            </div>
                            <div class="input-group flex-nowrap py-1">
                                <span class="input-group-text"><i class="bi bi-person text-secondary"></i></span>
                                {{ addUser.lastName(class="form-control") }}
                            </div>
                            <div class="input-group flex-nowrap py-1">
                                <span class="input-group-text text-secondary">@</span>
                                {{ addUser.userMail(class="form-control") }}
                            </div>
                            <div class="input-group flex-nowrap py-1">
                                <span class="input-group-text"><i class="bi bi-key text-secondary"></i></span>
                                {{ addUser.userPass(class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        {{ addUser.submit(class="btn btn-sm btn-outline-secondary", value="Dodaj") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- editUSerModal -->
    {% for user in users %}
    <div class="modal fade" id="editUser{{ user.id }}" tabindex="-1" aria-labelledby="editUserLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="editUserModal">
                        <i class="bi bi-person-gear pe-2 fs-5"></i>Edycja danych użytkownika
                    </p>
                </div>
                <form action="{{ url_for('editUser', id=user.id) }}" method="post">
                    {{ editUser.hidden_tag() }}
                    <div class="modal-body">
                        <div class="d-grid py-3">
                            <div class="input-group flex-nowrap py-1">
                                <span class="input-group-text"><i class="bi bi-person text-secondary"></i></span>
                                {{ editUser.firstName(class="form-control", value=user.firstName) }}
                            </div>
                            <div class="input-group flex-nowrap py-1">
                                <span class="input-group-text"><i class="bi bi-person text-secondary"></i></span>
                                {{ editUser.lastName(class="form-control", value=user.lastName) }}
                            </div>
                            <div class="input-group flex-nowrap py-1">
                                <span class="input-group-text text-secondary">@</span>
                                {{ editUser.userMail(class="form-control", value=user.userMail) }}
                            </div>
                            <div class="input-group flex-nowrap py-1">
                                <span class="input-group-text"><i class="bi bi-key text-secondary"></i></span>
                                {{ editUser.userPass(class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        {{ editUser.submit(class="btn btn-sm btn-outline-secondary", value="Zapisz") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- deleteUserModal -->
    {% for user in users %}
    <div class="modal fade" id="deleteUser{{ user.id }}" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="deleteUserModal">
                        <i class="bi bi-person-dash pe-2 fs-5"></i>Usuń użytkownika
                    </p>
                </div>
                <div class="modal-body">
                    Czy na pewno chcesz usunąć użytkownika {{ user.firstName }} {{ user.lastName }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <a href="{{ url_for('deleteUser', id=user.id) }}" class="btn btn-sm btn-danger">Tak</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- editUserPassModal -->
    {% for user in users %}
    <div class="modal fade" id="editUserPass{{ user.id }}" tabindex="-1" aria-labelledby="editUserPassLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="editUserPassLabel">
                        <i class="bi bi-key pe-2 fs-5"></i>Zmiana hasła użytkownika
                    </p>
                </div>
{#                <form method="post" action="{{ url_for('editUserPass', id=user.id) }}">#}
                <form method="post" action="{{ url_for('editUserPass') }}">
                    <div class="modal-body">
                        {{ editUserPass.hidden_tag() }}
                        <div class="input-group flex-nowrap py-1 visually-hidden">
                            <span class="input-group-text"><i class="bi bi-person text-secondary"></i></span>
                            {{ editUserPass.firstName(class="form-control", value=user.firstName) }}
                        </div>
                        <div class="input-group flex-nowrap py-1 visually-hidden">
                            <span class="input-group-text"><i class="bi bi-person text-secondary"></i></span>
                            {{ editUserPass.lastName(class="form-control", value=user.lastName) }}
                        </div>
                        <div class="input-group flex-nowrap py-1 visually-hidden">
                            <span class="input-group-text"><i class="bi bi-person text-secondary"></i></span>
                            {{ editUserPass.userMail(class="form-control", value=user.userMail) }}
                        </div>
                        <div class="input-group flex-nowrap py-1">
                            <span class="input-group-text"><i class="bi bi-person text-secondary"></i></span>
                            {{ editUserPass.userPass(class="form-control") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        {{ editUserPass.submit(class="btn btn-sm btn-outline-secondary", value="Zapisz") }}

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}